html,body{
    height: 100%;
}

/*INDEX/LOGIN/REGISTER*/
body{
    background-image: url('images/bcpink.png');
}

#loginregisterdiv{
    width: 250px; 
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -150px;
    opacity: 0.9;
    border: 3px solid rgb(255, 146, 228);
    border-radius: 10%;
    background-color: rgb(243, 210, 235);
    padding: 2px;
}

#inlogregistericon{
    margin-left: 38%;
}

#inlogregistericon:hover{
    margin-left: 38%;
    transform: scale(1.1);
    opacity: 1;
}

.loginregisterinputs{
    width: 96%; 
    border: 1px solid rgb(255, 146, 228);
    background-color: "white";
    outline: none !important; /*no border around button after clicking*/
    margin-left: 2px;
}

.loginregisterbuttons{
    width: 80%; 
    height: 40px;
    border: 1px solid rgb(255, 146, 228);
    background-color: rgb(255, 146, 228);
    border-radius: 5%;
    margin-left: 10%;
    font-size: large;
    font-weight: bold;
}

                    /*SCROLLBAR*/

/*width of the scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
  
/*scrollbar holder*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
/*the draggable scrolling handle*/
::-webkit-scrollbar-thumb {
    background: rgb(243, 210, 235);; 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 146, 228); 
}


                    /*HOME PAGE*/

@media screen and (max-width: 735px) {/*window smaller than 735px*/
    /*NAVBAR*/
    #navbar {
        list-style-type: none;
        margin-left: -8%;
    }

    #navbariconli{
        border: 1px solid #bbb;
        background-color: rgb(243, 210, 235);
        width: 100%;
    }

    #navbaricon{
        margin-left:25%;
    }

    #navbaremptyspace{
        visibility: hidden;
    }

    .navbarright{
        border: 1px solid #bbb;
        background-color: rgb(243, 210, 235);
        width: 100%;
    }

    .navbarlink {
        display: block;
        color: black;
        text-align: center;
        padding: 10px;
        text-decoration: none;
    }

    .navbarlink:hover {
        background-color: rgb(255, 146, 228);
    }

    /*GAME OVERVIEW WINDOW*/
    #homepagecontainer{
        float: left;
        width: 100%; 
        height: 80%;
        left: 10%;
        opacity: 0.9;
        border: 1px solid #bbb;
        background-color: white;
        padding: 2px;
        overflow: scroll;
    }

    .games{ /*div*/
        margin: 30px;
    }

    .gameiconpreview{ /*link*/
        float: left;
        border:1px solid black;
        margin: 40px;
    }

    #fairygameimg{ /*img*/
        padding: 10px;
        margin: 30px;
        width:200px;
        height :200px;
    }

    #fairygameimg:hover{ /*img*/
        transform: scale(1.1);
    }

    .constructionimg{ /*img*/
        padding: 10px;
        margin: 30px;
        width:200px;
        height :200px;
    }

    .constructionimg:hover{ /*img*/
        transform: scale(1.1);
    }
}


@media screen and (min-width: 735px){ /*from 735px and bigger*/

    /*NAVBAR*/
    #navbar {
        list-style-type: none;
        background-color: rgb(243, 210, 235);
        height: 11%;
        display: flex; /*using a flexbox to create space inside navbar*/
        align-items: stretch;
        border: 1px solid #bbb;
        position: absolute;
        margin: 0;
        padding: 0;
        width: 80%;
        top: 5%;
        left: 10%;
    }
    
    #navbaricon{
        height: 100%;
        width: 100%;
        opacity: 0.8;
    }

    #navbariconli{
        border-right:1px solid #bbb;
        flex-grow: 1
    }

    #navbaremptyspace{
        flex-grow: 30
    }

    .navbarright{
    flex-grow: 1;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    }
    
    .navbarlink {
        display: block;
        color: black;
        text-align: center;
        padding: 30px 16px;
        text-decoration: none;
    }

    .navbarlink:hover {
        background-color: rgb(255, 146, 228);
        height: 40%;
    }

    /*GAME OVERVIEW WINDOW*/
    #homepagecontainer{
        width: 79.7%; 
        height: 80%;
        position: absolute;
        top: 16%;
        left: 10%;
        opacity: 0.9;
        border: 1px solid #bbb;
        background-color: white;
        padding: 2px;
        overflow: scroll;
    }

    .games{ /*div*/
        margin: 30px;
        display: grid;
        grid-gap: 2em;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 30px;
    }

    .gameiconpreview{ /*link*/
    /* border: 1px solid rgb(243, 210, 235);*/
    }

    #fairygameimg{ /*img*/
        padding: 10px;
        margin: 30px;
        width:200px;
        height :200px;
    }

    #fairygameimg:hover{ /*img*/
        transform: scale(1.1);
    }

    .constructionimg{ /*img*/
        padding: 10px;
        margin: 30px;
        width:200px;
        height :200px;
    }

    .constructionimg:hover{ /*img*/
        transform: scale(1.1);
    }

    /*HIGHSCORE WINDOW*/
    #highscorecontainer{
        width: 250px; 
        height: 250px;
        position: absolute;
        top: 50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -150px;
        opacity: 0.9;
        border: 3px solid rgb(255, 146, 228);
        background-color: rgb(243, 210, 235);
        padding: 2px;
    }

    #highscoreTitle{
        text-align: center;
    }

}