
@media screen and (max-width: 735px) {/*window smaller than 735px*/
    
    .gameVisible{
        visibility: hidden;
    }

    #errortext{
        height: 60%; 
        width: 100%;
        position: absolute;
        text-align: center;
    }
/*
    #canvasBackgroundImg{
        width: 100%; 
        height: 70%; 
        position: absolute;
    }

    #scoreLabel{
       
        position: absolute;
        height: 40;
        width: 60;
        top: 45%;
        left: 75%;
    }

    #scoreCount{
        
        position: absolute;
        height: 40;
        width: 100;
        top: 45%;
        left: 85%;
    }

    #fairy{
        height: 60;
        width: 60;
        position: absolute;
        bottom: 2%;
        left: 2%;
        
    }

    .obstacle{
        height: 60;
        width: 60;
        position: absolute;
        bottom: 2%;
        
    }

    #restartButton{
        width: 20%;
        height: 20%;
        top: 55%;
        left: 45%;
        position: absolute;
        border-radius: 30px;
        visibility : hidden;
    }

    #restartButtonImg{
        height: 100%;
        width: 100%;
    }

    #restartButtonImg:hover {
        transform: scale(1.1);
    }*/
}


@media screen and (min-width: 735px){ /*from 735px and bigger*/

    #errortext{
        visibility: hidden;
    }

    #canvasBackgroundImg{
        width: 80%;
        top: 16%;
        left: 10%;
        position: absolute;
        height: 80%;
    }

    #scoreLabel{
        /*border: 1px solid red;*/
        position: absolute;
        height: 40;
        width: 60;
        top: 20%;
        left: 75%;
    }
    #scoreCount{
        /*border: 1px solid red;*/
        position: absolute;
        height: 40;
        width: 100;
        top: 20%;
        left: 80%;
    }

    #highScoreLabel{
        /*border: 1px solid red;*/
        position: absolute;
        height: 40;
        width: 60;
        top: 20%;
        left: 55%;
    }
    #highScoreCount{
        /*border: 1px solid red;*/
        position: absolute;
        height: 40;
        width: 100;
        top: 20%;
        left: 65%;
    }

    #fairy{
        /*border: 1px solid red;*/
        height: 60;
        width: 60;
        position: absolute;
        bottom: 17%;
        left: 25%;
    }

    .obstacle{
       /* border: 1px solid red;*/
        position: absolute;
        bottom: 17%;
        /*width and hight need to be changed inside js*/
    }
    
    #restartButton{
        width: 10%;
        height: 20%;
        top: 40%;
        left: 45%;
        position: absolute;
        border-radius: 30px;
        visibility : hidden;
    }

    #restartButtonImg{
        height: 100%;
        width: 100%;
    }

    #restartButtonImg:hover {
        transform: scale(1.1);
    }
    
}